body {background-color:black; font-family:arial; color:white}
h1{color:grey; font-family:verdana}
.maindiv{background-color: white;
         color:black;
         width: 300px; 
         padding: 20px;
         border-radius: 25px; 
         margin-left: auto;
         margin-right: auto;
     
}
 
/* the align attribute is not defined i tried other attributes such as align-self,align-content,
i also searched for the align center i didn't find it i found a custom alignments like the one i used*/
